@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Sin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mersin,Turkey<br />
    <br />
    <abbr title="Phone">Telefon:</abbr>
    000.000.000
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">destek@example.com</a><br />
</address>